{% extends "base.html" %}

{% block style %}

    table,th,td {
    border:2px solid black;
    border-color: green;
    border-collapse:collapse;
    padding:5px;
    }


{% endblock %}

{% block content %}
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" >
    {% csrf_token %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>
     <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
    <h2>Register</h2> <hr>
    <div class="mb-3">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" name="first_name" class="form-control" required>
  </div>
    <div class="mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" name="last_name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Username</label>
    <input type="text" name="username" class="form-control"  aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
    <p>Already have an account? <a href="/login/">login</a> </p>
  <button type="submit" class="btn btn-primary">Register</button>
</form>


</div>


{% endblock %}