{% extends "base.html" %}

{% block style %}

    table,th,td {
    border:2px solid black;
    border-color: green;
    border-collapse:collapse;
    padding:5px;
    },


{% endblock %}

{% block content %}
<div class="container mt-5">
<!-- need to add enctype="multipart/form-data" otherwise image will not upload-->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <h2>Update Recipe</h2>
  <div class="mb-3">
    <label  class="form-label">Recipe Name</label>
    <input name="recipe_name" value="{{recipe.recipe_name}}" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label  class="form-label">Recipe Description</label>
      <textarea name="recipe_description" class="form-control" required>{{recipe.recipe_description}}</textarea>
  </div>
        <div class="mb-3">
    <label class="form-label">Recipe Image</label>
      <input name="recipe_image"  type="file" class="form-control" >
  </div>
  <button type="submit" class="btn btn-success">Update Recipe</button>
</form>

</div>


{% endblock %}